*{
    padding: 0;
    margin: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.imgbkg{
    width: 100%;
}
.titulo{
    margin: 4vh auto 6vh auto;    
    font-size: 3.8em;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #ff9100;
    text-shadow: 2px 2px 2px #2b1d00d5;   
}
.subtitulo{
    font-family: 'Permanent Marker', cursive;
    margin: 7vh auto;
    font-size: 5vh;
    text-align: center;
    text-shadow: 1px 1px 1px #2b1d00ab;
}

/* CONTAINER IMAGENS*/
/*.container{    
    display: flex;
    align-items: center;
    justify-content: center;
}
*/



.list_itens{
    margin-top: 6vh;   
    text-align: center; 
    justify-content: center;        
}
li{
    font-weight: lighter;
    color: #fff;
    font-size: 1.6em;
    display: inline-block;    
    background-color: #ff7b00;    
    padding: 8px 16px;
    font-family: 'Permanent Marker', cursive;
    margin: 12px 0px 0px 4px ;
    border-radius: 8px; 
}
ul{
    padding: 40px;
}
.btn_reservar{   
    padding: 15px;
}
.btn_orange{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    padding: 8px 24px;
    background-color: #ff7b00;
    border-style: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: flex;
    margin-bottom: 6vh;
}
.link_reserver{
    text-decoration: none;
    color: #fff;
}
.link_reserver:hover{
    color: #ff7b00;
    transition: 0.7s;
}
.btn_orange:hover{    
    background-color: #fff;
    padding: 8px 60px;
    border-radius: 40px;
    transition: cubic-bezier(0.86, 0, 0.07, 1) 0.7s;
    background-color: #ff7b0010;
}
li:hover{
    color: #ff7b00;
    background-color: #ff7b0010;    
    border-radius: 40px;
    transition: cubic-bezier(0.86, 0, 0.07, 1) 0.7s;
    cursor: pointer;
}
.endereco{    
    margin-bottom: 0.2px;
    text-align: center;
    background-color: #ff7b00;
    padding: 15px 0px;    
}
.link_endereco{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    color:#fff;       
}
.link_endereco:hover{
    transition: ease-in 0.3s;
    color: #000000;
}
